.exam_panel
{
position: absolute;
left: 0;
top: 0;
background: white;
width: 100%;
height: 100%;
z-index: 100;

font-size: 1em;
font-family: Droid Sans Mono;
overflow: hidden;
}

.exam_panel #exit
{
position: absolute;
right: 20px;
top: 20px;
width: 48px;
height: 48px;
opacity: 0.5;
z-index: 100;
}


.exam_panel #exit:hover
{
cursor: pointer;
opacity: 1;
}

.exam_panel #exit img
{
width: 100%;
height: 100%;
}


.exam_panel .node_area
{
position: absolute;
left: 0%;
top: 5%;
width: 100%;
height: 90%;
z-index: 2;
opacity: 1;
overflow-y: auto;
background: white;
}


.exam_panel .timer
{
position: absolute;
right: 30px;
bottom: 0;
height: 200px;
width: 300px;
font-size: 3em;
text-align: center;
}


.exam_panel .result
{
position: absolute;
left: 0;
top: 5%;
width: 100%;
height: 95%;
background: white;
z-index: 5;
color: rgb(64,64,64);
}


.exam_panel .result h1
{
text-align: center;
text-decoration: underline;
text-shadow: 1px 1px rgba(0,0,0, 0.2);
color: black;
}


.exam_panel .result #assessment
{
position: absolute;
left: 10%;
top: 10%;
width: 80%;
height: 80%;
}


.phigh
{
color: darkorange;	
}


.exam_panel .ip_input
{
position: relative;
margin-left: 25%;
margin-top: 2%;
width: 50%;
height: auto;
padding: 4px;
font-size: 2em;
z-index: 2;
cursor: pointer;
outline: none;
border:solid 3px black;
}



.exam_panel .mc_question
{
position: relative;
left: 2%;
top: 2%;
width: 90%;
height: auto;
font-size: 2em;
z-index: 2;
cursor: pointer;
}


.exam_panel input[type="radio"]
{
float: left;
width: 1.5em;
height: 1.5em;

background: orange;

}

.exam_panel .mc_answer
{
position: relative;
float: left;
width: 97%;
margin-left: 2%;
}


.exam_panel .answers
{
position: relative;
margin-left: 4%;
margin-top: 30px;
width: 90%;
height: auto;
font-size: 1.5em;
z-index: 2;
cursor: pointer;
}
